Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-04, with the labels that each got.

#186 Add ha roles
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: enhancement

#211 Prepare 2.0.0 Release
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#219 init.pp: fix #217
  manifests/init.pp
Labels: bug

#223 Fix wrong quotation in boolean
  templates/gitlab.rb.erb
Labels: bug
