Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-12, with the labels that each got.

#293 remove service dependency cycle
  README.md
  manifests/init.pp
  manifests/service.pp
  spec/classes/init_spec.rb
Labels: bug

#294 updating module descr and support info
  README.md
Labels: docs

#291 modulesync 2.4.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-20-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
