Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-03, with the labels that each got.

#200 add letsencrypt section to gitlab.rb
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: enhancement

#119 Remove deprecated hiera and validation functions
  .fixtures.yml
  Dockerfile
  lib/facter/gitlab_systemd.rb
  manifests/cirunner.pp
  manifests/config.pp
  manifests/custom_hook.pp
  manifests/init.pp
  manifests/install.pp
  manifests/runner.pp
  metadata.json
  spec/classes/cirunner_spec.rb
  spec/classes/init_spec.rb
Labels: needs-help, needs-rebase

#107 removing unneeded fact evaluation
  manifests/config.pp
  manifests/install.pp
Labels: needs-rebase, needs-work

#210 remove auto-execution of gitlab:setup
  manifests/config.pp
Labels: backwards-incompatible, docs

#209 remove git_data_dir
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: backwards-incompatible
