Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-10, with the labels that each got.

#280 release 3.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#281 fix the repositories as per #271 and #272
  data/family/RedHat.yaml
  spec/classes/init_spec.rb
Labels: bug

#282 release 3.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#288 modulesync 2.2.0
  .msync.yml
  .travis.yml
  Gemfile
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
