Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-08, with the labels that each got.

#259 allow puppetlabs/apt 5.x
  metadata.json
Labels: enhancement

#263 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#262 remove gitlab-ci-runner from module
  README.md
  manifests/cirunner.pp
  manifests/runner.pp
  spec/acceptance/gitlabci_spec.rb
  spec/classes/cirunner_spec.rb
Labels: backwards-incompatible, ci-runner

#267 Allow configuration of the alertmanager via puppet.
  manifests/init.pp
  manifests/omnibus_config.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: enhancement
