Repository voxpupuli/puppet-gitlab, pull requests merged in 2018-06, with the labels that each got.

#241 Refactor resource ordering
  manifests/config.pp
  manifests/host_config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/omnibus_config.pp
  manifests/params.pp
  manifests/preinstall.pp
  manifests/service.pp
  spec/classes/init_spec.rb
Labels: backwards-incompatible, needs-docs, needs-feedback

#243 Do not manage apt-transport-https.
  manifests/cirunner.pp
  manifests/install.pp
  metadata.json
Labels: backwards-incompatible

#245 remove authors, copyright, examples from init.pp
  manifests/init.pp
Labels: skip-changelog

#246 244 refactor repository package management
  Dockerfile
  README.md
  data/Debian.yaml
  data/RedHat.yaml
  hiera.yaml
  manifests/init.pp
  manifests/install.pp
  manifests/omnibus_package_repository.pp
  manifests/params.pp
  spec/classes/init_spec.rb
Labels: backwards-incompatible, enhancement
