Repository voxpupuli/puppet-gitlab, pull requests merged in 2019-04, with the labels that each got.

#305 modulesync 2.7.0 and drop puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  examples/init.pp
  metadata.json
  spec/spec_helper.rb
Labels: backwards-incompatible

#308 Add support for Debian 9 and Ubuntu 18.04
  .fixtures.yml
  .sync.yml
  .travis.yml
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement

#311 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#312 Fix broken data type definition
  manifests/global_hook.pp
  spec/defines/global_hook_spec.rb
Labels: bug
