Repository voxpupuli/puppet-gitlab, pull requests merged in 2020-04, with the labels that each got.

#334 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#332 Support Debian 10
  .sync.yml
  .travis.yml
  metadata.json
Labels: enhancement

#331 Use new gitlab gpg keys for package management
  README.md
  data/family/Debian.yaml
  data/family/RedHat.yaml
  data/os/Ubuntu.yaml
Labels: needs-work, tests-fail

#336 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#338 Add support for running Gitlab with puma
  manifests/init.pp
  manifests/omnibus_config.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: enhancement
