Repository voxpupuli/puppet-gitlab, pull requests merged in 2020-10, with the labels that each got.

#360 modulesync 3.1.0
  .github/CONTRIBUTING.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/spec_helper.rb
Labels: modulesync

#342 Add support for CentOS 8
  .sync.yml
  .travis.yml
  metadata.json
Labels: enhancement

#361 Drop support for Debian 8, because it is EOL since 2020-06-06
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#362 Release 6.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
