Repository voxpupuli/puppet-gitlab, pull requests merged in 2020-11, with the labels that each got.

#364 Fix gitlab-ctl reconfigure LD_LIBRARY_PATH warning
  manifests/service.pp
  spec/acceptance/gitlab_spec.rb
Labels: bug

#365 Release of 6.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#368 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
