Repository voxpupuli/puppet-gitlab, pull requests merged in 2021-05, with the labels that each got.

#379 Add support for geo_logcursor options in gitlab.rb
  manifests/init.pp
  manifests/omnibus_config.pp
  spec/classes/init_spec.rb
  templates/gitlab.rb.erb
Labels: enhancement

#380 Add system hooks management
  README.md
  manifests/global_hook.pp
  manifests/init.pp
  manifests/system_hook.pp
  spec/defines/system_hook_spec.rb
Labels: enhancement

#383 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/defines/system_hook_spec.rb
Labels: modulesync

#384 release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
